table {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
tr:hover {
  background: gainsboro;
}
#DetailsButton {
  float: right;
  width: auto;
}
.btn btn-light {
  margin-left: auto;
  margin-right: auto;
}
#DetailsButton {
  float: right;
  width: auto;
  margin-top: 5%;
  margin-right: 5%;
}
@media only screen and (max-width: 500px) {
  .table {
    width: 1200px;
  }
  tr {
    height: 50px;
  }
}
